//
//  ClientSecret.swift
//  SmartSleep
//
//  Created by Anders Borch on 24/02/2019.
//  Copyright © 2019 Anders Borch. All rights reserved.
//

import Foundation

// Admin password
let AdminCreds = "<INSERT ADMIN CREDENTIALS HERE>"


// Production
let ClientSecret = "<INSERT CLIENT SECRET HERE>"
let baseUrl = "https://<INSERT API URL HERE>"
